----Sur Windows----
 
Pré-requis : 
Python :
-Installer Python
-Pour vérifier si Python est correctement installé vous pouvez
 exécuter cette commande à partir de votre terminal : 
*python --version

Environnement virtuel : 
-Créer un dossier pour le projet
*mkdir CMD
*cd CMD

-Créer l'environnement virtuel lié au projet 
*python -m venv env

-Pour l'activer
*env\Scripts\activate

-Pour le désactiver 
*deactivate

-Installation de Django
*pip install django

*pip install djangorestframework

-Installation de git project
* git clone https://github.com/BENACHOUR14/Coupe_du_monde_API.git

-Migration
*python manage.py makemigrations
*python manage.py migrate





